@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;500&display=swap" rel="stylesheet');

.instructions-header {
  font-family: 'Imbue', serif;
  color: #472d30;
  font-size: 30px;
  font-weight: 100;
}

.total-score {
  font-size: 20px;
  color: #472d30;
}

.word-correct {
  color: #564787;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.word-incorrect {
  color: red;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

h2 {
  padding: 10px;
  text-align: center;
}
