@import url('https://fonts.googleapis.com/css2?family=Imbue:wght@100;500&display=swap" rel="stylesheet');

.DisplayFeedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Imbue', serif;
  margin: 5px;
}

.DisplayFeedback > h2 {
  font-size: 25px;
  font-weight: 100;
}

.DisplayFeedback > button {
  width: 30%;
}

.DisplayFeedback > p {
  color: #472d30;
  font-size: 20px;
  padding: 10px;
}

.correct-try {
  color: #564787;
  padding: 10px;
  text-align: center;
}

.incorrect-try {
  color: red;
  padding: 10px;
  text-align: center;
}

.feedback {
  padding: 10px;
}
